{% extends 'base.html.twig' %}
{% block title %}Wild Series {% endblock %}
{% block body %}
    <h1>Toutes les catégories</h1>
    <div class="d-flex flex-row justify-content-center flex-wrap">
    {% for category in categories %}
        <div class="card program-box" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{category.name}}</h5>
                <a href="{{ path("category_show", { categoryName: category.name}) }}" class="card-link">Afficher</a>
            </div>
        </div>
    {% else %}
        Aucune catégorie
    {% endfor %}
    </div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}